@use '../fonts' as *;
@use '../variables' as *;
@use './global' as *;
@use '../mixins' as *;



.about{
    padding-right:2.5rem;

    @include tablet{
        padding-bottom: .9375rem;
    }


    &__title{
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 700;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: .5625rem;
        font-family: 'Avenir Next Demi';

    &__title-add{
        font-family: 'Avenir Next Demi';
    }

    @include tablet{

        font-size: 40px;
        margin-bottom: revert;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 27px;
        margin-bottom: 20px;

    }

        @include desktop{
            font-size: 40px;
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }
    
    &__image{

        width: 100%;
        padding-left: 16px;
        padding-right: 14px;
        max-width: 900px;
        max-height: 500px;

        @include tablet{
            display: block;

            margin:auto; 
        }

    }
/* This could be used as 
    a mixin since I have
    to write this for the
    footer */
    &__pargraph{
        font-size: 8px;
        font-weight: 400;
        line-height: 1.125rem;
        padding-left: 16px;
        padding-right: 3px;
        width: 98%;
        font-family: 'Avenir Next Bold';
    }
    &__pargraph--one{
        font-size: 13.3px;
        width: 101.5%;
        padding-left: 14px;

        @include tablet{

            font-size: 22px;
            width: 606.9px;
            line-height: 30px;
            font-family: "Avenir Next Demi";
            padding-left: 90px;

        }

        @include desktop{
            padding-left: 202px;
            padding-right: 34px;
            font-size: 23.9px;
            width: 57.5%;
            font-family: 'Avenir Next Demi';
        }
    }

    @include tablet{

        &__pargraph--add-style{
            font-size: 18.9px;
            width: 57.5%;
            font-family: "Avenir Next bold";
        }
    }
    &__sub-title{
        font-family: 'Avenir Next Demi';
        padding-left: 16px; 
        font-size: 15px;
        padding-top: 5px;

        @include tablet{
            font-family: "Avenir Next Demi";
            padding-left: 16px;
            font-size: 24px;
            padding-top: 22px;
            padding-left: 90px;
            margin-bottom: 10px;
        }

            @include desktop{
            font-family: "Avenir Next Demi";
            padding-left: 16px;
            font-size: 24px;
            padding-top: 22px;
            padding-left: 200px;
        }
    }

    
    &__pargraph--two{
        color: rgb(50,50,50); 
        font-size: 0.75rem;
        font-family: "Avenir Next demi";
        /* font-size: 12px; */
        width: 95%;

        @include tablet{
            font-size: 14px;
            font-family: "Avenir Next demi";
            width: 72.5%;
            display: flex;
            gap: 24px;
            padding-left: 90px;
            line-height: 20px;
        }

    }

    @include desktop{

       &__pargraph-section{
            display: flex;
            width: 70%;
            gap: 21px;
            padding-left: 200px;
            font-family: 'Avenir Next demi';
            font-size: 15.6px;
            line-height: 27px;
        }
    }
}