@use '../fonts' as *;
@use '../variables' as *;
@use './global' as *;
@use '../mixins' as *;



.hero{
    position: relative;
    color: $heroTextColor; 
    display:flex;    
    flex-direction: column;
    justify-content: center;  
    padding-top: 55px;
    padding-bottom: 55px; 


    @include tablet {
        padding-top: 140px;
        padding-bottom: 140px;
    }

    @include desktop{
        padding-top: 190px;
        padding-bottom: 190px;
    }


    &::before {
        content:' ';
        position:absolute;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
        box-shadow: inset 0 0 0 100vh rgb(50,50,50, .5);
        background-image: url("../../../assets/images/hero-bio.jpg");
        background-size: cover;
        background-position: center;
    }


    &__title{
        position: relative; 
        font-family: 'Avenir Next Demi';
        font-size:1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding-left: 16px;


        @include tablet{
            font-size: 62px;
            padding-left:40px; 
        }


        @include desktop{
            font-size: 50px; 
            padding-left:100px; 
        }
    }

}